<div class="header">
  <h1 href="/">Work Talk</h1>
  <a class="headerA" href="/hRManage/vCalendar"> 휴가 달력 </a>
  <% if (session.user.role == 'manager') { %>
    <a class="headerA" href="/hRManage/vManage"> 휴가 관리 </a>
    <a class="headerA"> 인사 관리 </a>
  <% } %>
  <a class="headerA" href="/hRManage/newEnroll">로그인용</a>
</div>
<div id="forHead"></div>