<div class="header">
  <h1 href="/">Work Talk</h1>
  <a class="headerA" href="/hRManage/applicate"> 휴가 신청 </a>
  <a class="headerA" href="/hRManage/vConfirm"> 휴가 달력 </a>
  <a class="headerA" href="/hRManage/vManage"> 휴가 관리 </a>
  <a class="headerA" href="/emp/enroll"> 인사 관리 </a>
</div>
<div id="forHead"></div>