<div id="sidebarWidth">
  <div class="sidebar">
    <div class="sidebar-item1">단체방</div>
    <div class="sidebar-item1">단체방</div>
    <div class="sidebar-item1">단체방</div>
    <div class="sidebar-item1">단체방</div>
  </div>
  <div class="sidebar2">
    <a href="/hRManage/myChatList"><div class="sidebar-item2">채팅</div></a>
    <hr>
    <div class="sidebar-item2" id="makeRoom">단체 채팅방 생성</div>
    <hr>
    <div class="sidebar-item2">부서별 사원</div>
    <hr>
    <div class="sidebar-item2 profile"><button>마이크X</button><button>소리X</button></div>
  </div>
</div>
<script>
  let userClick;
  let addListArr = [];
  /* let empList = JSON.parse('<%- JSON.stringify(empList) %>'); */

  document.body.addEventListener('click',() =>{
    userClick = event.target;
    if(event.target !== document.querySelector("div[id='makeRoom']") && !Array.from(document.querySelectorAll('.group')).some(function(element) {
        return element === event.target;                             //class = group인걸 nodeList로 변환후 some 메서드를 사용하여 event.target이 .group 클래스를 가진 요소 중 하나인지 확인 후 리턴
    })) {
      closeNewDiv();
    }
  })

  document.querySelector("div[id='makeRoom']").addEventListener('click', ()=>{
    if(!document.querySelector("div[class='group']")){
      const newDiv = document.createElement('div');
      newDiv.className = "group";
      newDiv.innerHTML = "단체방 초대 <hr class='group'> 초대 인원 <br> <div class='group addZone'></div> <hr class='group'> 리스트 <div class='group empZone'></div>"
      newDiv.style.background = 'black';
      newDiv.style.color = 'white';
      newDiv.style.position = 'fixed';
      newDiv.style.left = '170px';
      newDiv.style.width = '300px';
      newDiv.style.borderRadius = '5%';
      newDiv.style.zIndex = 9999;
      document.querySelector("div[id='makeRoom']").appendChild(newDiv);
      document.querySelector('.empZone').style.overflow = 'auto';
      empList.forEach((element, index) => {
        document.querySelector('.empZone').innerHTML += "<div class='group empsInfo' data-empNo="+element.empNo +" data-index=" + index + " data-name=" + element.name + "'><div class='half group'><image class='group' src='" + element.picture +"'></div><div class='detailInfo group'>부서 : " + element.dept + "/ 이름 : " + element.name + " <button class='group addList' onClick='activateEvent(this);'>추가</button></div></div>";
      });
    }
  });

  function activateEvent(button){
    const infoDiv = button.parentElement.parentElement;
    addListArr.push({
      empNo : infoDiv.dataset.empno,
      name : infoDiv.dataset.name,
    })
    //이미 요소가 존재한다면 뜯어서 이동시킴
    let addThing = document.querySelector('div[class="group addZone"]').appendChild(infoDiv);
    const changeButton = addThing.children[1].children[0];
    changeButton.classList.remove('addList');
    changeButton.classList.add('removeList');
    changeButton.innerText = "삭제";
    changeButton.setAttribute('onclick', 'removeEvent(this)');

    console.log(addListArr,"asd")
  }

  function removeEvent(button) {
    const infoDiv = button.parentElement.parentElement;
    const empZone = document.querySelector('.empZone');
    const index = parseInt(infoDiv.getAttribute('data-index'), 10);

    addListArr = addListArr.filter(item => item.empNo !== infoDiv.dataset.empno);

    const children = Array.from(empZone.children);

    let left = 0;
    let right = children.length - 1;
    let insertPos = children.length;

    while (left <= right) {
      const mid = Math.floor((left + right) / 2);
      const midIndex = parseInt(children[mid].getAttribute('data-index'), 10);
      if (index < midIndex) {
        insertPos = mid;
        right = mid - 1;
      } else {
        left = mid + 1;
      }
    }

    const changeButton = infoDiv.querySelector('button');
    changeButton.classList.remove('removeList');
    changeButton.classList.add('addList');
    changeButton.innerText = "추가";
    changeButton.setAttribute('onclick', `activateEvent(this, ${index})`);

    if (insertPos === children.length) {
      empZone.appendChild(infoDiv);
    } else {
      empZone.insertBefore(infoDiv, children[insertPos]);
    }
  }

  

  function closeNewDiv(){
    const group = document.querySelector("div[class='group']");
    if(group){
      group.parentNode.removeChild(group);
    }
  }
</script>