<div id="sidebarWidth">
  <div class="sidebar">
    <div class="sidebar-item1">단체방</div>
    <div class="sidebar-item1">단체방</div>
    <div class="sidebar-item1">단체방</div>
    <div class="sidebar-item1">단체방</div>
  </div>
  <div class="sidebar2">
    <a href=""><div class="sidebar-item2">채팅</div></a>
    <div class="sidebar-item2" id="makeRoom">단체 채팅방 생성</div>
    <div class="sidebar-item2">부서별 사원</div>
  </div>
</div>
<script>
  let userClick;

  document.body.addEventListener('click',() =>{
    userClick = event.target;
    if(event.target !== document.querySelector("div[id='makeRoom']")) closeNewDiv()
  })

  document.querySelector("div[id='makeRoom']").addEventListener('click', ()=>{
    const newDiv = document.createElement('div');
    newDiv.id = "group";
    newDiv.innerHTML = "단체방 초대 <hr> 초대 인원 선택 <br> <div>asdasd</div>"
    newDiv.style.background = 'black';
    newDiv.style.color = 'white';
    newDiv.style.position = 'fixed';
    newDiv.style.left = '170px';
    newDiv.style.width = '200px';
    newDiv.style.borderRadius = '5%';
    document.querySelector("div[id='makeRoom']").appendChild(newDiv);
  })

  function closeNewDiv(){
    if(document.querySelector("div[id='group']")){
      document.querySelector("div[id='group']").parentNode.removeChild(document.querySelector("div[id='group']"));
    }
  }
</script>