<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/hRManage/forLogin" method="post">
    <input type="text" name="id">
    <input type="text" name="pw">
    <button>로그인</button>
  </form>
</body>
</html>