<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="room">
    <input type="button" value="완" id="btn">
    <script>
        document.getElementById("btn").addEventListener("click", () => {
            location.href = '/chat/oneOnOne/' + document.getElementById('room').value;
        })
    </script>
</body>
</html>