
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.topBar {
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    flex: 1;
    height: calc(100vh - 52px);
    /* topBar 높이를 제외한 높이 */
}

.empList {
    height: 100%;
    width: 40%;
    border-collapse: collapse;
    border-spacing: 0;
}

.formContainer {
    height: 40%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.leftSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.leftSection img {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.rightSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.rightSection table {
    border-collapse: collapse;
    width: 100%;
}

.rightSection th,
.rightSection td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

table,
th,
td {
    border: 1px solid black;
}

.bottomTable {
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 10px;
    height: 60%;
    /* Adjust height as needed */
}

.bottomTable th,
.bottomTable td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.rightContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
}