
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.enrollDiv {
    
}

.empInfoDiv {
    display: none;
}

.topBar {
    width: 100%;
    background-color: #f8f8f8;
    padding: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topBar h3 {
    margin-left: 1%;
}

.content {
    margin-top: 2%;
    display: flex;
    flex: 1;
}

.leftContainer {
    border: 1px solid black;
    height: 100%;
    width: 40%;
    margin-left: 1%;
    padding: 3px;
}

.empList {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.rightContainer {
    width: 140%;
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.leftSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.leftSection img {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.rightSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.rightSection table {
    border-collapse: collapse;
    width: 100%;
}

.rightSection th,
.rightSection td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

table,
th,
td {
    border: 1px solid black;
}

.bottomTable {
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 10px;
}

.bottomTable th,
.bottomTable td {
    padding: 10px;
}

